@using DirectLink.Core.Helpers
@inherits UmbracoViewPage

@{
    var gameList = Model.Root().Descendants<GameList>().FirstOrDefault();
    var games = gameList.Descendants<Game>().Where(x => x.IsVisible()).OrderByDescending(y => y.CreateDate);

    var isGameListPage = gameList.Id == Model.Id;
    var fallbackPageSize = isGameListPage ? 9 : 3;

    var pageNumber = QueryStringHelper.GetIntFromQueryString(Request, "page", 1);
    var pageSize = QueryStringHelper.GetIntFromQueryString(Request, "size", fallbackPageSize);

    var pageOfGames = games.Skip((pageNumber - 1) * pageSize).Take(pageSize);
    var totalItemCount = games.Count();
    var pageCount = totalItemCount > 0 ? Math.Ceiling((double)totalItemCount / pageSize) : 1;
}


@if (games != null && games.Any())
{

    <section>
        <div class="container padding">
            <div class="row">
                @foreach (var game in pageOfGames)
                {
                    var cardImagess = game.Value<IPublishedContent>("mainImage");

                    <div class="col-md-4">
                        <div class="card-deck">
                            <div class="card">
                                @if (cardImagess != null)
                                {
                                    <img class="card-img-top" src="@(cardImagess.GetCropUrl(320,180))" alt="Card image cap">
                                }
                                <div class="card-body">
                                    <a href="@game.Url">
                                        <h5 class="card-title">
                                            @(!string.IsNullOrWhiteSpace(game.Title) ? game.Title : game.Name)
                                        </h5>
                                        @if (!string.IsNullOrWhiteSpace(game.Subtitle))
                                        {
                                            <p class="card-text">
                                                @game.Subtitle
                                            </p>
                                        }
                                    </a>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">
                                        Created
                                        @if (!string.IsNullOrWhiteSpace(game.DeveloperName))
                                        {
                                            @Html.Raw("by ") @game.DeveloperName
                                        }
                                        on @game.GameDate.ToString("MMMM dd, yyyy")
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                }


            </div>

            <!-- Pager -->
            <div id="paging" class="clearfix">
                @if (isGameListPage)
                {
                    if (pageCount > 1)
                    {
                        <div class="paging-block">
                            @if (pageNumber > 1)
                            {
                                <a class="btn btn-primary float-left" href="@($"{gameList.Url}?page={pageNumber - 1}&size={pageSize}")">Prev</a>
                            }
                            else
                            {
                                @Html.Raw("&nbsp;")
                            }
                        </div>
                        <div class="paging-block text-center">
                            <span>Page @pageNumber of @pageCount</span>
                        </div>
                        <div class="paging-block">
                            @if (pageNumber < pageCount)
                            {
                                <a class="btn btn-primary float-right" href="@($"{gameList.Url}?page={pageNumber + 1}&size={pageSize}")">Next</a>
                            }
                            else
                            {
                                @Html.Raw("&nbsp;")
                            }
                        </div>

                    }
                }
                else
                {
                    <a class="btn btn-primary float-right" href="@(gameList.Url)">View All</a>
                }
            </div>
        </div>
    </section>

}
