@inherits DirectLinkViewPage

@using DirectLink.Core.ViewPages
@using System.Linq

@{
    var resultSet = GameService.GetLatestGames(Model, Request);
}


@if (resultSet != null && resultSet.Results != null && resultSet.Results.Any())
{
    var games = resultSet.Results.Cast<Game>();
    <section>
        <div class="container">
            <div class="row">
                @foreach (var game in games)
                {
                    var cardImagess = game.Value<IPublishedContent>("mainImage");
                    <div class="col-md-4 mb-3">
                        <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
                            <div class="card">
                                @if (cardImagess != null)
                                {
                                    <img class="card-img-top img-responsive full-width" src="@(cardImagess.GetCropUrl(320,180))" alt="Card image cap">
                                }
                                <div class="card-body">
                                    <a href="@game.Url">
                                        <h5 class="card-title">
                                            @(!string.IsNullOrWhiteSpace(game.Title) ? game.Title : game.Name)
                                        </h5>
                                    </a>

                                    @if (!string.IsNullOrWhiteSpace(game.Subtitle))
                                    {
                                        <p>
                                            @game.Subtitle
                                        </p>
                                    }
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">
                                        Created
                                        @if (!string.IsNullOrWhiteSpace(game.DeveloperName))
                                        {
                                            @Html.Raw("by ") @game.DeveloperName
                                        }
                                        on @game.GameDate.ToString("MMMM dd, yyyy")
                                    </small>
                                </div>
                            </div>

                        </div>


                    </div>
                    <hr>
                }


            </div>

            <!-- Pager -->
            <div id="paging" class="clearfix">
                @if (resultSet.IsGameListPage)
                {
                    if (resultSet.PageCount > 1)
                    {
                        <div class="paging-block">
                            @if (resultSet.PageNumber > 1)
                            {
                                <a class="btn btn-primary float-left" href="@($"{resultSet.Url}?page={resultSet.PageNumber - 1}&size={resultSet.PageSize}")">Prev</a>
                            }
                            else
                            {
                                @Html.Raw("&nbsp;")
                            }
                        </div>
                        <div class="paging-block text-center">
                            <span>Page @resultSet.PageNumber of @resultSet.PageCount</span>
                        </div>
                        <div class="paging-block">
                            @if (resultSet.PageNumber < resultSet.PageCount)
                            {
                                <a class="btn btn-primary float-right" href="@($"{resultSet.Url}?page={resultSet.PageNumber + 1}&size={resultSet.PageSize}")">Next</a>
                            }
                            else
                            {
                                @Html.Raw("&nbsp;")
                            }
                        </div>

                    }
                }
                else
                {
                    <a class="btn btn-primary float-right" href="@(resultSet.Url)">View All</a>
                }
            </div>
        </div>
    </section>

}
